@font-face {
  font-family: "iconfont"; /* Project id 2943113 */
  src: url('iconfont.woff2?t=1637650253835') format('woff2'),
       url('iconfont.woff?t=1637650253835') format('woff'),
       url('iconfont.ttf?t=1637650253835') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdandingdanmingxishouzhimingxi:before {
  content: "\e789";
}

.icon-yonghu1:before {
  content: "\e6b3";
}

.icon-shouye:before {
  content: "\e626";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-shangpin:before {
  content: "\e888";
}

.icon-shuju:before {
  content: "\e8c6";
}

.icon-quanxian:before {
  content: "\e69c";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-user:before {
  content: "\e6b2";
}

.icon-password:before {
  content: "\e6f8";
}

